footer.attribution {
    background: transparent;
    color: white;
    padding: 10px;
    text-align: center;
    a {
        color: $score;
        transition: all .25s ease;
        &:hover {
            color: white;
        }
    }
}