header.page-header {
    margin-bottom: 50px;
    padding: 20px 0;
    nav.navbar {
        h1 {
            color: $very_dark_violet;
            margin-right: 30px;
        }
        #navbarNav {
            ul {
                li {
                    a {
                        color: $grayish_violet;
                        font: $bold 14px $font;
                        &:hover {
                            color: $very_dark_violet;
                        }
                    }
                }
            }
        }
        div.client-access {
            button {
                border-radius: 100px;
                color: $grayish_violet;
                font: $bold 14px $font;
                padding: 7px 20px;
                &.btn-login {
                    &:hover {
                        color: $very_dark_violet;
                    }
                }
                &.btn-signup {
                    background: $cyan;
                    color: white;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $mobile) {
}