header.title {
    align-items: center;
    border: 2px solid $headers;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    h1.logoClassic {
        margin-top: 5px;
    }
    div.score {
        background: white;
        border-radius: 7px;
        padding: 7px 20px;
        text-align: center;
        h2 {
            color: $score;
            font: $regular 16px $font;
            letter-spacing: 2px;
        }
        h3 {
            color: $dark_text;
            font: $bold 50px $font;
            margin-bottom: 5px;
        }
    }
}


@media screen and (max-width: $mobile) {
    header.title {
        h1 {
            font-size: 35px;
        }
        div.score {
            h2 {
                font-size: 14px;
            }
            h3 {
                font-size: 40px;
            }
            button {
                font-size: 12px;
            }
        }
    }
}