div.modal {
    .modal-header {
        border: 0 none;
        padding: 2rem;
        h2 {
            color: $dark_text;
            font: $bold 30px $font !important;
            text-transform: uppercase;
        }
        i {
            cursor: pointer;
        }
    }
    .modal-body {
        margin: 0 auto;
        padding: 2rem;
    }
    button.btn-link:hover svg path {
        fill: red !important;
    }
}