main.page {
    section.presentation {
        margin-bottom: 100px;
        div.presentation-text {
            flex: 0 1 50%;
            h2 {
                color: $very_dark_blue;
                font: $bold 70px/80px $font;
            }
            p {
                color: $grayish_violet;
                font: $regular 20px $font;
                margin-top: 5px;
            }
            a {
                background: $cyan;
                border-radius: 100px;
                color: white;
                display: inline-block;
                font: $bold 20px $font;
                margin-top: 50px;
                padding: 15px 50px;
                text-decoration: none;
                &:hover {
                    opacity: .5;
                }
            }
        }
        div.presentation-image {
            flex: 0 1 40%;
            svg {
                max-width: 100%;
                overflow: visible;
            }
        }
    }

    section.url-shorten {
        background: linear-gradient(white 80px, #EFF1F7 0);
        form.url-shorten-form {
            align-items: center;
            background: url("/images/bg-shorten-desktop.svg") center center no-repeat $dark_violet;
            border-radius: 10px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 50px 70px;
            position: relative;
            input.form-control {
                flex: 0 1 82%;
                border: 2px solid transparent;
                color: $dark_violet;
                font: $regular 16px $font;
                padding: 15px 30px;
                &::placeholder {
                    color: $gray;
                }
                &.error {
                    border-color: $red;
                    &::placeholder {
                        color: rgba($red, .5);
                    }
                }
                &:valid {
                    border-color: green;
                    &::placeholder {
                        color: rgba(green, .5);
                    }
                }
            }
            button {
                background: $cyan;
                border: 2px solid transparent;
                flex: 0 1 16%;
                font: $regular 16px $font;
                padding: 15px 0;
                &:hover {
                    background: lighten($cyan, 20%);
                }
            }
            .invalid-feedback {
                bottom: 25px;
                color: $red;
                font: $regular italic 13px $font;
                position: absolute;
            }
        }

        div.shortened-links {
            margin-top: 20px;
            ul.links-list {
                padding-bottom: 50px;
                li {
                    align-items: center;
                    background: white;
                    border-radius: 5px;
                    color: $very_dark_blue;
                    display: flex;
                    flex-flow: row nowrap;
                    font: $regular 18px $font;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    padding: 15px 30px;
                    span.destination-link {
                        flex: 0 1 60%;
                    }
                    span.short-link {
                        color: $cyan;
                        flex: 0 1 25%;
                        text-align: right;
                    }
                    button.btn-copy {
                        background: $cyan;
                        color: white;
                        flex: 0 1 10%;
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    main.page {
    }
}